html,
body,
h1,
h2,
h3,
p,
input {
    margin: 0;
    padding: 0;
    line-height: 1;

    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1.1rem;
}
